* {
    margin: 0;
    padding: 0;
}

.banner {
    background-color: aliceblue;
    height: 80vh;
    min-height: 600px;
    background-image: url("images/");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    font-size: 20px;
    color: black;
    align-items: center;
}

.logo-img {
    height: 50px;
    width: auto;
    margin-right: 5px;
    padding-top: 5px;
    border-radius: 50px;
}

.nav {
    display: flex;
    font-size: 20px;
    color: black;
    align-items: center;
}

.nav span {
    margin-right: 30px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-color: azure;
    padding: 4px 15px;
    border-radius: 5px;
}

.nav span:hover {
    transform: scale(1.1);
    background-color: lightblue
}

.contact {
    background-color: azure;
    padding: 4px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.contact:hover {
    transform: scale(1.1);
    background-color: lightblue
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    flex-grow: 1;
    color: black;
    font-weight: bold;
}

.section1, .section2 {
    display: flex;
    min-height: 350px;
    background: azure;
}

.section1 .left, .section2 .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 h1, .section2 h1 {
    font-size: 40px;
    margin-bottom: 18px;
    
}

.section1 p, .section2 p {
    color: black;
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
}

.section1 button, .section2 button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
}

.section1-text, .section2-text {
    margin: auto;
    width: 70%;
}

.left, .right {
    flex: 1;
}

.section1 img, .section2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.client-image {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.client-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    padding: 50px;
}

.testimonials h1 {
    color: #a0a1a2;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.clients {
    display: flex;
    justify-content: space-evenly;
}

.clients .client {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    align-items: center;
}

.client p {
    text-align: center;
    margin-bottom: 30px;
    color: #848391;
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
}

.client .client-image {
    margin-bottom: 30px;
}

.client .details {
    text-align: center;
}

.client h4 {
    color: #a0a1a2;
    margin-top: 8px;
}